name: slack-notifications

on:
  pull_request:
    types:
      - opened
  issue_comment:
    types:
      - created
  pull_request_review:
    types:
      - submitted

env:
  channel_id: C09HZMU55C4

jobs:
  slack-notification:
    runs-on: gha-internal-amd64
    if: |
      (github.event_name == 'pull_request' && github.event.action == 'opened') ||
      (github.event_name == 'pull_request_review' && github.event.action == 'submitted')

    env:
      event_type: ${{ github.event_name == 'pull_request' && 'created' || 'reviewed' }}
      approved: ${{ github.event.review.state == 'approved' }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Send Slack Notification - PR created
        if: ${{ env.event_type == 'created' }}
        uses: w3w-internal/actions/slack-notification@DEV-2032
        with:
          payload: |
            {
              "channel": "${{ env.channel_id }}",
              "text": "${{ github.event.pull_request.title }}",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "${{ github.event.pull_request.title }}"
                  }
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": ":briefcase:"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Author*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "<https://github.com/${{ github.event.pull_request.user.login }}|@${{ github.event.pull_request.user.login }}>"
                    }
                  ]
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": ":hash:"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Commit*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "<https://github.com/${{ github.repository }}/commit/${{ github.event.pull_request.head.sha }}|${{ github.event.pull_request.head.ref }}>"
                    }
                  ]
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": ":building_construction:"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Repository*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "<https://github.com/${{ github.repository }}|${{ github.repository }}>"
                    }
                  ]
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": ":github-pr:"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*From*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "<https://github.com/${{ github.repository }}/tree/${{ github.event.pull_request.head.ref }}|${{ github.event.pull_request.head.ref }}>"
                    }
                  ]
                }
                ,
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": ":github-pr:"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*To*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "<https://github.com/${{ github.repository }}/tree/${{ github.event.pull_request.base.ref }}|${{ github.event.pull_request.base.ref }}>"
                    }
                  ]
                },
                {
                  "type": "divider"
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": "1."
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Open*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": ":lang-yes:"
                    }
                  ]
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": "2."
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Approve*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*-*"
                    }
                  ]
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*View PR*"
                  },
                  "accessory": {
                    "type": "button",
                    "text": {
                      "type": "plain_text",
                      "text": "View PR :docs:",
                      "emoji": true
                    },
                    "value": "view_pr",
                    "url": "${{ github.event.pull_request.html_url }}",
                    "action_id": "view-pr"
                  }
                }
              ]
            }

      - name: Send Slack Notification - PR approved
        if: ${{ env.event_type == 'reviewed' && env.approved }}
        uses: w3w-internal/actions/slack-notification@DEV-2032
        with:
          payload: |
            {
              "channel": "${{ env.channel_id }}",
              "text": "${{ github.event.pull_request.title }}",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "${{ github.event.pull_request.title }}"
                  }
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": ":briefcase:"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Author*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "<https://github.com/${{ github.event.pull_request.user.login }}|@${{ github.event.pull_request.user.login }}>"
                    }
                  ]
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": ":hash:"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Commit*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "<https://github.com/${{ github.repository }}/commit/${{ github.event.pull_request.head.sha }}|${{ github.event.pull_request.head.ref }}>"
                    }
                  ]
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": ":building_construction:"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Repository*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "<https://github.com/${{ github.repository }}|${{ github.repository }}>"
                    }
                  ]
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": ":github-pr:"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*From*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "<https://github.com/${{ github.repository }}/tree/${{ github.event.pull_request.head.ref }}|${{ github.event.pull_request.head.ref }}>"
                    }
                  ]
                }
                ,
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": ":github-pr:"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*To*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "<https://github.com/${{ github.repository }}/tree/${{ github.event.pull_request.base.ref }}|${{ github.event.pull_request.base.ref }}>"
                    }
                  ]
                },
                {
                  "type": "divider"
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": "1."
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Open*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": ":lang-yes:"
                    }
                  ]
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "type": "mrkdwn",
                      "text": "2."
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Approve*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": ":lang-yes:"
                    }
                  ]
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*View PR*"
                  },
                  "accessory": {
                    "type": "button",
                    "text": {
                      "type": "plain_text",
                      "text": "View PR :docs:",
                      "emoji": true
                    },
                    "value": "view_pr",
                    "url": "${{ github.event.pull_request.html_url }}",
                    "action_id": "view-pr"
                  }
                }
              ]
            }
